@CHARSET "UTF-8";
body {}
/*register*/

.register-title {
	font-weight: 300;
}
.part.p2,.part.p4{
	color: #787878;
	font-size: 14px;
}
.reg-title {
	padding: 0;
	font-size: 17px;
	font-weight: 500;
	line-height: 44px;
	color: #222222;
	background: #fcdb00;
	white-space: nowrap;
	text-align: center;
}
.image1 {
	display: inline-block;
	float: left;
	position: absolute;
	margin: 10px 0 0 10px;
}
.reg-from {
	margin-top: 10px;
}
.reg-from input[type=text] {
	width: 50%;
	border: none;
	background: #f5f5f5;
}
.reg {
	display: inline-block;
	width: 30%;
	margin-top: 10px;
	text-align: right;
}
.btn-sex {
	display: inline-block;
	width: 22%;
	height: 28px;
	line-height: 28px;
	vertical-align: middle;
	margin-top: 5px;
	margin-bottom: 21px;
	border-radius: 5px;
	text-align: center;
	background: #F2F2F2;
	color: #A2A8B3;
}
.btn-sex {
	margin-left: 2%;
}
.btn-publish {
	border: 1px solid #c8c8c8;
	box-shadow: 1px 1px #c8c8c8;
	width: 100px;
	padding: 2px 10px 2px 10px;
	border-radius: 25px;
	background: #fcdb00;
}
.tuijian,
.fujin {
	display: inline-block;
	margin-top: 20px;
	margin-left: 10px;
}
.tuijian {
	width: 94px;
	height: 30px;
	display: inline-block;
	background: url(../img/img2.png) no-repeat;
	background-size: cover;
}
.fujin {
	width: 94px;
	height: 30px;
	margin-top: 40px;
	display: inline-block;
	background: url(../img/img3.png) no-repeat;
	background-size: cover;
}
.pay-table td {
	font-weight: normal;
	padding: 10px;
}
.pay-table td input[type=radio] {
	vertical-align: middle;
	margin: 0 3px 3px 0;
}
.btn-select {
	width: 50%;
	display: inline-block;
	text-align: center;
	float: left;
}
.btn-select.check {
	border-right: 1px solid #F2F2F2;
}
.select-pay {
	display: none;
	border: 2px solid #5bcf6c;
	position: absolute;
	top: 20%;
	left: 10%;
	width: 80%;
	background: #FFFFFF;
}
.select-pay-bg {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, .5);
}
.icon.icon-check.ht1{
	background: 5bcf6c;
}
.btn-s {
	overflow: auto;
	border-top: 2px solid #5bcf6c;
	padding: 5px;
	margin-top: 5px;
}
.select-body {
	margin-top: 1px;
}
.select-job {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #FFFFFF;
}
.icon.icon-left-nav {
	margin-left: 10px;
	margin-top: 10px;
	float: left;
}
.media-body {
	margin-left: 40px;
	vertical-align: middle;
}
.select-job-title {
	overflow: auto;
	background: #fcdb00;
	height: 44px;
	line-height: 44px;
}
.select-father {
	position: absolute;
	width: 40%;
	height: 100%;
	background: #F2F2F2;
}
.select-child {
	margin-left: 45%;
	width: 50%;
	height: 100%;
}
.table-view-cell {
	background: #FFFFFF;
}
.father-ul {
	overflow-y: scroll;
}
.father-ul li {
	padding: 0;
	position: relative;
	padding: 11px 20px 11px 15px;
	border-bottom: 1px solid #ddd;
}
.child-ul li {
	border-bottom: 1px solid #ddd;
}
.child-ul li {
	position: relative;
	padding: 11px 20px 11px 15px;
}
.father-ul li.on {
	background: #FFF;
	color: #5bcf6c;
	border-left: 4px solid #5bcf6c;
}
.table-view.child-ul{
	overflow-y:scroll ;
}
/*recommend*/
.rec-top{
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 74px;
	z-index: 1;
}
.title-recommend {
	padding: 0;
	height: 44px;
	width: 100%;
	font-size: 17px;
	font-weight: 500;
	line-height: 44px;
	color: #000;
	background: #fcdb00;
	white-space: nowrap;
}
.title-titlebar {
	display: block;
	width: 100%;
	height: 30px;
	font-size: 17px;
	font-weight: 500;
	line-height: 30px;
	color: #787878;
	text-align: center;
	white-space: nowrap;
	border-bottom: 2px solid #c8c8c8;
	background: #f5f5f5;
}
.items {
	position:absolute;
	padding: 0px;
	top: 74px;
	left: 0px;
	width: 100%;
}
.icon.icon-caret {
	position: absolute;
	top: 0;
	right: 2px;
	color: #c8c8c8;
}
.rec-part {
	margin-top: -10px;
}
.t {
	float: left;
	width: 25%;
	height: 20px;
	line-height: 20px;
	margin: 5px 0px 5px 0px;
	vertical-align: middle;
	text-align: center;
	border-left: 1px solid #c8c8c8;
	position: relative;
}
.t.rec-area {
	border-left: none!important;
}
.s {
	float: right;
	margin-right: 20px;
	color: #fba481;
}
.tip {
	border: 1px solid #5bcf6c;
	color: #3db04e;
	font-size: 14px;
	margin-left: 10px;
}
.table-view-cell.span1 {
	padding: 5px 5px 5px 15px;
}
.table-view-cell.tips {
	padding: 5px 5px 5px 15px;
}
.p5,
.pt5 {
	display: inline-block;
	width: 33.3333%;
	float: left;
	border: 1px solid #C8C8C8;
	height: 30px;
	line-height: 30px;
	vertical-align: middle;
	border-left: none!important;
	color: #787878;
}
.pt5 {
	border-right: none!important;
}
.number {
	color: #fba481;
}
.table-view-cell.span2 {
	padding: 5px 0px 5px 0px;
	text-align: center;
}
.table-view-cell.span2 div{
	font-size: 14px;
}

.btn-ne {
	display: inline-block;
	width: 33.3334%;
	color: #000000;
	background: #fcdb00;
	border: none;
	height: 30px;
	line-height: 30px;
}
.rec-ul {
	padding: 0px 0px 5px 0px;
}
.rec-ul li {
	padding: 5px 5px 5px 15px;
	list-style: none;
	border: none;
}
.image5 {
	float: left;
	margin: 0px 2px 0px 0px;
}
.popover-salary {
	position: fixed;
	display: none;
	top: 104px;
	left: 50%;
	z-index: 20;
	width: 280px;
	margin-left: -140px;
	background-color: #fff;
	border-radius: 6px;
	-webkit-box-shadow: 0 0 15px rgba(0, 0, 0, .1);
	box-shadow: 0 0 15px rgba(0, 0, 0, .1);
	-webkit-transition: all .25s linear;
	-moz-transition: all .25s linear;
	transition: all .25s linear;
	-webkit-transform: translate3d(0, -15px, 0);
	-ms-transform: translate3d(0, -15px, 0);
	transform: translate3d(0, -15px, 0);
}
.popover-salary:before {
	position: absolute;
	top: -15px;
	left: 50%;
	width: 0;
	height: 0;
	margin-left: -15px;
	content: '';
	border-right: 15px solid transparent;
	border-bottom: 15px solid #FFFFFF;
	border-left: 15px solid transparent;
}
.salary-bg {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, .5);
}
.recommend-job {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #FFFFFF;
}
.job-father {
	position: absolute;
	top: 43px;
	left: 0px;
	width: 40%;
	height:100%;
	background: #F2F2F2;
}
.table-view.job-father-ul li {
	padding: 11px 0px 11px 15px;
}
.bar.bar-nav{
	text-align: center;
	padding-left: 0px;
}
.job-child {
	position: absolute;
	background: #FFFFFF;
	top: 43px;
	margin-left:40%;
	width: 60%;
	height:100%;
}
.table-view.job-child-ul li {
	padding: 11px 0px 11px 15px;
}
.icon.icon-close.ijob {
	display: inline-block;
	float: right;
	margin: 0px;
}
.title-job {
	background: #fcdb00;
}
.table-view.job-father-ul li.on {
	background: #FFF;
	color: #5bcf6c;
	border-left: 4px solid #5bcf6c;
}
.weals-ul li {
	display: inline-block;
}
.weals-ul {
	padding-left: 0px;
}
.icon.icon-left-nav.irec {
	color: #000000;
}
.table-view.job-father-ul{
	overflow-y: scroll;
}
.table-view.job-child-ul{
	overflow-y: scroll;
}
/*details*/

.details {
	width: 100%;
	height: 100%;
}
.title-details {
	position: fixed;
	padding: 0;
	top: 0px;
	left: 0px;
	width: 100%;
	font-size: 17px;
	font-weight: 500;
	height: 44px;
	line-height: 44px;
	color: #000;
	background: #fcdb00;
	white-space: nowrap;
	z-index:1;
}
.segmented-control.seg1 {
	position: fixed;
	top: 44px;
	left: 0px;
	width: 100%;
	height: 42px;
	border-radius: 0px;
	border: none;
	z-index:1;
	border-bottom: 1px solid #CCCCCC;
}
.item1,
.item2 {
	display: table-cell;
	width: 1%;
	overflow: hidden;
	color: #333;
	text-align: center;
	text-overflow: ellipsis;
	white-space: nowrap;
	height: 20px;
	line-height: 20px;
	vertical-align: middle;
	font-size: 17px;
	padding: 10px 0px 10px 0px;
}
.item2-1 {
	border-left: 1px solid #ccc;
}
.em-1 {
	color: #fba481;
	float: right;
}
.det-body {
	position: absolute;
	overflow-y: scroll;
	top: 86px;
	width: 100%;
	height: calc(100% - 88px);
	padding-bottom: 44px;
}
.det4-aprt {
	display: inline-block;
	width: 50%;
	float: left;
	text-align: center;
	color: #222222;
    font-size: 14px;
}
.det4-aprt.aprt4 {
	display: inline-block;
	border-left: 1px solid #ccc;
}
.table-view-cell.det-li {
	padding: 5px 5px 5px 15px;
	border-bottom: none;
}
.table-view-cell.det-li2 {
	padding: 5px 5px 5px 5px;
	border-top: 1px solid #ccc;
}
.table-view-cell.det-weals {
	display: inline-block;
	float: left;
	width: 33%;
	padding: 5px;
	border: none;
	text-align: left;
	color: #969696;
    font-size: 14px;
}
.details-weal {
	width: 100%;
	border-bottom: 1px solid #ccc;
}
.det-weal {
	margin-bottom: 10px;
	color: #71C671;
	padding: 0px 5px 0px 5px;
}
.table-view.det-weals {
	border: none;
	overflow: auto;
}
.icon.icon-check.det-weals {
	color: #71C671;
}
.table-view.det-infor{
	border: none;
}
.table-view.det-infor span{
	color:#969696 ;
}
.table-view.det-infor li{
	color:#646464;
}
.table-view-cell.det-infor{
	border: none;
	padding: 5px 5px 5px 15px;
	color: #646464;
    font-size: 14px;
}
.table-view-cell.det-infor.p1{
	display: inline-block;
	width: 50%;
	float: left;
	padding: 0;
}
.table-view-cell.det-infor.area{
	width: 100%;
}
.image6{
	display: inline-block;
	background:#ccc ;
}
.det-infor.ex{
	display: inline-block;
	width: 50%;
}
.details-infor{
	border-bottom: 1px solid #ccc;
}
.table-view-cell.det-des{
	border: none;
	padding: 5px 0px 5px 15px;
}
.table-view.det-des{
	border-bottom: none;
}
.det-company{
	display: none;
	overflow-y: scroll;
	position: absolute;
	top:86px;
	left: 0;
	width: 100%;
	height: 100%;
	height: calc(100% - 88px);
	padding-bottom: 44px;
}
.image5{
	display: inline-block;
}
.table-view.det-ba{
	border: none;
}
.table-view-cell.det-ba{
	border: none;
	padding: 5px 5px 5px 0px;
}
.det-com.part1-com{
	display: inline-block;
	float: right;
	color: #f96811;
}
.det-com.part2-com{
	display: inline-block;
	float: right;
	color: #222222;
    font-size: 14px;
}
.det-com.part2-com1{
	color: #222222;
    font-size: 14px;
}
.table-view-cell.det-li.li3{
	color: #969696;
    font-size: 14px;
}
.det4-s{
	color: #000000;
}
.table-view-cell.det-infor-title{
	border: none;
	color: #222222;
}
.table-view-cell.det-des.des1{
	color: #646464;
    font-size: 14px;
}
.item1.on{
	border-bottom: 2px solid #fcdb00;
}
.item2.on{
	border-bottom: 2px solid #fcdb00;
}
.det-companys.part2{
	color: #a3a3a3;
    font-size: 14px;
}
.table-view-cell.det-ba.ba1{
    font-size: 14px;
    color:#646464;
}
.table-view.det-ba span{
	color: #969696;
}
.ba1-1{
	color: #222222;
    font-size: 14px;
}
.table-view-cell.det-com.com1{
	padding: 5px;
}
.table-view-cell.det-com{
	padding: 5px 5px 5px 15px;
}
.det-cominfor{
	color: #646464;
    font-size: 14px;
}
.det-com.part1-com1,.det-com.part2-com1{
	padding: 5px;
	color: #787878;
}
.det-com.part-com{
	margin: -5px -5px -5px -15px;
	height: 40px;
	line-height: 40px;
	vertical-align: middle;
	padding-left:15px;
	background: #faf8e9;
	color: #787878;
}
.btn-top{
	position: fixed;
	bottom: 0px;
	left: 0px;
	height:44px;
	width: 100%;
	border-top: 2px solid #fcdb00;
	padding: 5px;
	background:#faf8e9 ;
}
.btn-ne.ne2{
  	text-align: center;
}
.det3-aprt{
	display: inline-block;
	width: 50%;
}
.det3-aprt.aprt2{
	text-align: center;
}
.det-com.part-ul{
	list-style:none ;
}
ul{
	padding: 0;
}
.det-com.part-ul li{
	padding: 10px 0;
}

































